.blind{
    position:absolute;
    clip: rect(0,0,0,0);
    width:1px;
    height: 1px;
    margin:-1px;
    overflow: hidden;
}

body{
    word-break: keep-all;
    word-wrap: break-word;
}

.logo{
    width: 74px;
    height: 24.66px;
}

header{
    width: 100%;
    height: 72px;
}


.navigationBar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    margin: 0 100px;
}

.menuWrap{
    display: flex;
    font-weight: bold;
}

.menuWrap:hover li a{
    color:gray;
}

.menuWrap li:hover a{
    color:black;
}

.iconMenu{
    display: flex;
}

.menuItem{
    margin-right: 50px;
}

.iconItem{
    
    padding: 8px 8px;
     
    border-radius: 100px;
}


a{
    text-decoration: none;
    color: black;
}


.iconItem button{
    border:hidden;
    border-radius: 100px;
    background-color: #ffffff11;
    padding: 8px 8px;
}

i{
    font-size: 16px;
}

main{
    margin: 78px 0 0 100px;
    height: 300vh;
    
}

.iconItem button:hover
{
    background-color: #eee;
}

.day{
    width: 70px;
    vertical-align: top;
    margin-top: -15px;

}
.mainTitle{
    font-size: 36px;
    font-weight: bold;
}
.day-desc{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 80px;
}

.newsEntertain{
    
    box-sizing: border-box;
    width: 625px;
    height: 662px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
    
}

.newsEntertain:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 10px gray;
}

.news{
    width: 36px;
    vertical-align: top;
    margin-top: -3px;
}

.newsEntertainHeader{
    padding: 25px 24px 0;
    height: 165px;
}

.entertainTitle{
    font-size: 30px;
    margin-top: 11px;
    margin-bottom: 20px;
    width: 90%;
}
.newstag{
    font-size: 13px;
    color: gray;
    padding-bottom: 10px;
}

.newsHead{
    display: flex;
    justify-content: space-between;
    width: 580px;
}

.snsShare{
    color: gray;
}

h4 button{
    background:none;
    border:none;
    font-size: 16px;
}

h4 button:hover{
    /* 버튼넣었다는걸 임시로 표시 */
    background-color: gray;
}

.newsRelease{
    position:relative;
    padding: 10px 7px;
    font-size: 13px;
    margin-right: 430px;
    border-radius: 13px;
    background-color: #eeeeee;
}

.newsRelease::before{
    position: absolute;
    top: 0;
    left: -4px;
    width: 16px;
    height: 13px;
    background: url("./img/talk.svg");
    content: "";
}

.rightSide{
    display: flex;
    margin-left: 18px;
    width: 666px;
}

.leftSide{
    margin-right: 18px;
    height: 877px;
}

.global{
    
    box-sizing: border-box;
    width: 297px;
    height: 420px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
}

.sales{
    
    box-sizing: border-box;
    width: 297px;
    height: 420px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
}

.rightSide  header{
    padding: 25px 24px 0;
    width: 249px;
    height: 170px;
}

.rightSide  header h4 .newsRelease{
    margin-right: 100px;
}

.rightSide header h4{
    display: flex;
    justify-content: space-between;
}

.rightSide header .entertainTitle{
    width: 245px;
    font-size: 18px;
    margin-bottom: 40px;
}

.rightSide .stock header .stockPrice{
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 40px;
    width: 90%;
    font-weight: bold;
    

}

.rightSide .stock header .stockPrice small{
    position:absolute;
    font-size: 14px;
    line-height: 16px;
    color:blue;
    margin-left: 10px;
    margin-top: 13px;
}

.rightSide .stock header .stockPrice small::before{
    content: "▼ ";
    
}



.picomaImage{
    margin-top: 2px;
    width: 297px;
    height: 223px;
}



.kakaoInfo{
    display: flex;
}

.rightSide{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 920px;
}

.rightSide article{
    margin-bottom: 36px;
}

.rightSide article:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 10px gray;
}

.rightSide .stock{
    
    box-sizing: border-box;
    width: 297px;
    height: 192px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;

}

.rightSide .promise{
    
    box-sizing: border-box;
    width: 297px;
    height: 192px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;

}


.invertText{
    margin-bottom: 60px;
}

.culture{
    width: 1300px;
    
}

.cultureBox{
    
    text-align: center;
    border-radius: 14px;
    box-shadow: 1px 1px 10px #eee;
    padding:54px 66px 0;
    margin:0 18px 36px 18px;
    height: 540px;
    
}

.cultureImg{
    width: 900px;
    height: 240px;
   margin:50px 132px 0;
}

.cultureLink{
    display: block;
    font-size: 14px;
    width: 136px;
    height: 33px;
    margin: 36px auto;
    
    padding: 15px 40px 0 25px;
    background-color: black;
    color: white;

    border-radius: 42px;
    position: relative;
    
    
}

.cultureLink::after{
    display: block;
    content: '→';
    position: absolute;
    right: 18px;
    margin-top: -18px;
    font-size: 20px;
    font-weight: bold;
}


.cultureText{
    font-size: 42px;
}

.stiky{
    position: sticky;
    top: 0;
}





.article-small{
    box-sizing: border-box;
    width: 297px;
    height: 192px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
}

.txt-head{
    padding: 10px 7px;
    font-size: 13px;

    margin: 0 140px 20px 40px;
    position: relative;
    border-radius: 13px;
    background-color: #eeeeee;
}

.txt-head::before{
    position: absolute;
    display: block;
    margin:-9px 0 0 -11px;
    width: 16px;
    height: 13px;
    background: url("./img/talk.svg");
    content: "";
}

.txt-head::after{
    position: absolute;
    display: block;
    content: '';
    background-image: url("./img/ico_customer.png");
    background-size: cover;
    margin: -25px 0 0 -49px;
    width: 36px;
    height: 36px;
}

.news-release::after{
    background-image: url("./img/news_release.png");
}

.promise-responsibility{
    margin: 0 0 20px 40px;
}

.promise-responsibility::after{
    background-image: url(./img/ico_responsible.png);
}

.promise-responsibility::before{
    margin: -10px 0 0 -11px;
}

.leftside-thrid header{
    padding: 25px 24px 0;
    width: 249px;
    height: 170px;
}

.txt-service{
    font-size: 15px;
    line-height: 26px;
    border-radius: 15px;
    padding: 8px 20px 8px 25px;
    background-color: #fee102;
    margin-bottom: 10px;
    font-weight: bold;

}

.txt-service::before{
    position: absolute;
    display: block;
    margin: -9px 0 0 -30px;
    width: 18px;
    height: 18px;
    background: url("./img/talk_yellow.svg");
    content: "";
}

.btn-service_move{
    font-size: 16px;
    line-height: 42px;
    background-color: #eee;
    color: #666;
    border-radius: 15px;
    padding: 10px 20px;
}

.article-normal{
    box-sizing: border-box;
    width: 297px;
    height: 420px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
}

.newsSection-sec article{
    margin-bottom: 36px;
}

.newsSection-sec article:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 10px gray;
}

.img-article{
    margin-top: 2px;
    width: 297px;
    height: 223px;
}

.txt-tit{
    font-size: 18px;
    margin:0 0 35px 0;
    width: 90%;
}

.txt-tag{
    font-size: 13px;
    color: gray;
    padding-bottom: 10px;
}

.btn-share{
    background: none;
    border: none;
    font-size: 16px;
    position: absolute;
    margin: -169px 0 0 -42px;
    color: gray;
}

