@font-face{
    font-family: 'Noto Sans KR';
    src:url(./font/NotoSansKR-Medium.otf);
}



.blind{
    position:absolute;
    clip: rect(0,0,0,0);
    width:1px;
    height: 1px;
    margin:-1px;
    overflow: hidden;
}

body{
    word-break: keep-all;
   
    font-family: 'Noto Sans KR';
    margin:0 300px; 
}

.logo{
    width: 74px;
    height: 24.66px;
}

header{
    /* width: 100%; */
    height: 72px;
}

 
.nav-bar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    
}

.menu-wrap{
    display: flex;
    font-weight: bold;
}

.menu-wrap:hover li a{
    color:gray;
}

.menu-wrap li:hover a{
    color:black;
}

.icon-menu{
    display: flex;
}

.menu-item{
    margin-right: 50px;
}


a{
    text-decoration: none;
    color: black;
}

.icon-item{
    padding: 8px 8px;
}
.icon-item button{
    border:hidden;
    border-radius: 100px;
    background: none;
    padding: 8px 8px;
}

.icon-item button:hover
{
    background-color: #eee;
}

i{
    font-size: 16px;
}

main{
    margin-top: 78px;
    height: 400vh;
}


.day{
    width: 70px;
    vertical-align: top;
    margin-top: -15px;

}
.tit-main{
    font-size: 36px;
    font-weight: bold;
}
.day-desc{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 80px;
}

.article-big{
    
    box-sizing: border-box;
    width: 625px;
    height: 662px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
    
}

.article-normal:hover, .article-small:hover, .article-big:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 10px gray;
}

.leftSide{
    margin-right: 18px;
    height: 877px;
}

main header{
    padding: 25px 24px 0;
    width: 249px;
    height: 170px;
}

.new-section-first{
    display: flex;
}

.rightSide{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 18px;
    width: 666px;
    height: 920px;
}

.rightSide article{
    margin-bottom: 36px;
}


.culture{
    width: 1300px;
    
}

.article-box{
    
    text-align: center;
    border-radius: 14px;
    box-shadow: 1px 1px 10px #eee;
    padding:54px 66px 0;
    margin:0 18px 36px 18px;
    height: 540px;
    
}

.img-culture{
    width: 900px;
    height: 240px;
   margin:50px 132px 0;
}

.link-culture{
    display: inline-block;
    height: 33px;
    margin-top: 36px;
    padding: 9px 12px 0 20px;
    border-radius: 42px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    background-color: black;
    vertical-align: top;
}

.icon-right{
    display: inline-block;
    font-size: 28px;
    vertical-align: top;
    margin-top: -3px;
}

.txt-culture{
    font-size: 42px;
}

.stiky{
    position: sticky;
    top: 0;
}





.article-small{
    box-sizing: border-box;
    width: 297px;
    height: 192px;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
}

.article-small .txt-tit{
    font-size: 18px;
    line-height: 28px;
} 

.article-big .txt-tit{
    font-size: 32px;
    line-height: 46px;
    width: 600px;
    height: 92px;
    max-height: 92px;
}

.txt-head{
    padding: 10px 10px;
    font-size: 13px;

    margin: 0 140px 20px 40px;
    position: relative;
    border-radius: 13px;
    background-color: #eeeeee;
}

.txt-head::before{
    position: absolute;
    display: block;
    margin:-9px 0 0 -11px;
    width: 16px;
    height: 13px;
    background: url("./img/talk.svg");
    content: "";
}

.txt-head::after{
    position: absolute;
    display: block;
    content: '';
    background-image: url("./img/ico_customer.png");
    background-size: cover;
    margin: -25px 0 0 -49px;
    width: 36px;
    height: 36px;
}

.news-release::after{
    background-image: url("./img/news_release.png");
}

.info::after{
    background-image: url("./img/graph.png");
}

.promise-responsibility{
    margin: 0 125px 20px 40px;
}

.promise-responsibility::after{
    background-image: url(./img/ico_responsible.png);
}

.promise-responsibility::before{
    margin: -10px 0 0 -13px;
}

.leftside-thrid header{
    padding: 25px 24px 0;
    width: 249px;
    height: 170px;
}

.txt-service{
    font-size: 16px;
    line-height: 26px;
    border-radius: 15px;
    padding: 8px 20px 8px 25px;
    background-color: #fee102;
    margin-bottom: 10px;
    font-weight: bold;

}

.txt-service::before{
    position: absolute;
    display: block;
    margin: -9px 0 0 -30px;
    width: 18px;
    height: 18px;
    background: url("./img/talk_yellow.svg");
    content: "";
}

.btn-service_move{
    font-size: 16px;
    line-height: 42px;
    background-color: #eee;
    color: #666;
    border-radius: 15px;
    padding: 10px 20px;
}

.article-normal{
    position: relative;
    box-sizing: border-box;
    width: 297px;
    height: 420px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 10px #eee;
    overflow: hidden;
    transition: 0.2s;
}

.news-section-second article{
    margin-bottom: 36px;
}


.img-article{
    
    margin:52px 0 0 -24px;
    width: 297px;
    height: 223px;
}

.article-big .img-article{
    width: inherit;
    height: inherit;
}
.img-size-big{
    width: 630px;
    height: 742px;
}

.txt-tit{
    font-size: 22px;
    line-height: 32px;
    height: 64px;
}

.article-small .txt-stock{
    font-size: 40px;
    line-height: 59px;
}

.article-small .txt-stock small{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;

    margin: 20px 0 0 25px;
    color: blue;
}

.article-small .txt-stock small::before{
    content: '▼';
    display: inline-block;
    position: absolute;
    vertical-align: top;
    margin-left: -17px;
    font-size: 10px;

}

.txt-tag{
    font-size: 13px;
    color: gray;
    position: absolute;
    top:0;
    
    margin: 165px 0 0 25px;
}

.article-big .txt-tag{
    margin-top: 190px;
    font-size: 14px;
}

.date-time{
    margin-left: 2px;
}

.btn-share{
    background: none;
    border: none;
    position: absolute;
    top:0;
    right: 0;
    margin: 30px 13px 0 0;
    font-size: 0;
    color: gray;
}

.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 3px;
}

.leftside-thrid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 666px;
    height: 920px;
}

.section-forth{
    display: flex;
}

.news-section-second{
    display: flex;
}


.link-service, .link-recruit{
    width: 630px;
    height: 360px;
    display: inline-block;
    box-sizing: border-box;
    padding:36px 36px 0;
    position: relative;
    background-color: #fae100;
    border-radius: 12px;
}
.padding-warp{
    position: relative;
    left: -18px;
    padding:0 18px;
    box-sizing: border-box;
}
.link-recruit{
    background-color:#3c64ff;
}

.link-service::before{
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    right:36px;
    bottom: 36px;
    background-image: url(./img/밥먹자.png);
    background-size: cover;
    border-radius: 40px;
    box-shadow: 0 0 10px gray;
}

.link-recruit::before{
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    right:36px;
    bottom: 36px;
    background-image: url(./img/일하자.png);
    background-size: cover;
    border-radius: 40px;
    
}

.section-forth a p:nth-child(1){
    max-width: 430px;
    font-size: 32px;
    line-height: 44px;
}

.section-forth a p:nth-child(2){
    margin-top: 24px;
    background-color: #000;
    height: 33px;
    font-size: 14px;
    line-height: 22px;
    padding: 9px 20px 0;
    display: inline-block;
    border-radius: 42px;
    color: #fff;
}

.link-see_all_news{
    font-size: 18px;
    line-height: 60px;
    background-color: #eee;
    border-radius: 60px;
}

@media screen and (max-width:1536px) {
    body{
        margin:0 100px; 
        
    }
    
}

