$headLineColor:#bcbcbc;
$isTrigger:true;
@keyframes nextSilde{
    0%{

    }

    100%{
        opacity: 0;
        $isTrigger:false;
    }
}


body{
    font-family: 'Gothic A1', sans-serif;
}

@mixin flexControl($justify:left, $align:left, $direction:row,$colgap:0, $rowgap:0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction:$direction;
    column-gap: $colgap;
    row-gap: $rowgap;
}

@mixin borderLineDelete($deleteLine,$deleteLine2)
{
    border-#{$deleteLine}:none;
    border-#{$deleteLine2}:none;
}

.nav-first_row{
    margin:0 120px;
    @include flexControl(flex-end);
    ul{
        @include flexControl(flex-end,left,row,30px);
        font-size: 13px;
        li{
            padding:13px 0 14px 0;
            &:nth-child(1){
                margin-left: 50px
            }
            a{
                &:hover{
                    color:blue;
                }
            }
            .bi-files, .bi-bag-fill{
                margin-right: 4px;
            }
        }
    }

    form{
        border: 1px solid #bcbcbc;
        @include borderLineDelete(top,bottom);
        @include flexControl(space-between,center,row);
        font-size: 13px;
        input{
            margin: 12px 29px 12px 21px;
        }

        button{
            margin-right: 13px;
            cursor: pointer;
            border: none;
            background: none;
            font-family: 'Gothic A1', sans-serif;
            font-stretch: condensed;
        }

        &:hover{
            color: blue;
            background-color: #eee ;
            input{
                background-color: #eee ;
            }
            button{
                color: blue;
            }
        }
    }
}

input[type="text"]{
    border:none;
    width: 220px;
}

.nav-second_row{
    border: 1px solid #bcbcbc;
    .nav-wrap{
        margin: 0 120px;
        @include flexControl(space-between,center,row);
        
        .logo{
            font-size: 30px;
            line-height: 30px;
            font-weight: bold;
            padding :15px 0 13px 0;
            vertical-align: top;
        }
        
        .link-menu{
            @include flexControl(space-between,center);
            .menu-item{
                font-weight: bold;
                position: relative;
                padding-bottom: 20px;
                margin-top: 20px;
                z-index: 1;
                &:nth-child(1), &:nth-child(2){
                    margin-right: 60px;
                }
                &:hover{
                    color:blue;
                }

                .link-drop_item, .link-drop_item_thrid,.link-drop_item_second{
                    display: none;
                    position: absolute;
                    transform: translateX(-35px);
                    width: 165px;
                    margin-top: 20px;
                    background-color: #282828;
                    color: #fff;
                    padding:30px;
                    box-sizing: border-box;
                    li{
                        
                        font-size: 14px;
                        font-weight: normal;
                        margin-bottom: 17px;
                        a{
                            color:#fff;
                            white-space:nowrap; 
                            &:hover{
                                color:blue;
                            }
                        }
                    }
                    .special
                    {
                        font-weight: bold;
                        margin-top: 40px;
                        &:hover{
                            cursor: text;
                        }
                    }

                }

                .link-drop_item_second{
                    width: 700px;
                    transform: translateX(-360px);
                    li{
                        ul{
                            display: flex;
                            
                            .tit-main{
                                font-weight: bold;
                                width: 150px;  
                                position: relative;
                                
                                &::before{
                                    content: '';
                                    position: absolute;
                                    right: -20px;
                                    border-left: 1px solid $headLineColor;
                                    height: 54px;
                                    margin:0 10px;
                                } 
                            }
                            li{
                                margin-right: 10px;
                            }
                            .link-item{
                                &:nth-child(2){

                                    margin-left: 30px;
                                }
                            }
                            
                        }
                    }
                }
                .link-drop_item_thrid{
                    width: 200px;
                }

                &:hover{
                    .link-drop_item,.link-drop_item_thrid,.link-drop_item_second{
                        display: block;
                    }
                }

                
            }
        }
    }

}



.section-silde{
    padding: 40px 120px 120px 120px;
    height: 900px;
    margin-bottom: 121px;
    border-bottom: 1px solid black;
    .article-cont-wrap{
        
        position: relative;
        ul{
            position: absolute;
            width: 100%;
            height: 100%;
            
            .silde-item{
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                animation:none;
                opacity: 0;
                transition: 1s;
                
                p{
                    margin-top: 90px;
                    width: 393px;
                    font-size: 60px;
                    line-height: 80px;
                }
                strong{
                    font-size: 80px;
                    line-height: 104px;
                    font-weight: bold;
                    margin-top: 30px;
                    display: block;
                }
                .img-sibiz_silde{
                    position: absolute;
                    right: 0;
                    top:0;
                    width: 70%;
                    height: 900px;
                    
                }
                figure{
                    margin-top: 36px;
                    position: relative;
                    a{
                        &::before{
                            content: '';
                            position: absolute;
                            left: 70px;
                            width: 28px;
                            height: 28px;
                            background-color: #032dd3;
                            border-radius: 28px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            left: 81px;
                            top:9px;
                            border-top: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-left: 10px solid white;
                        }
                        .img-small_chair{
                                width: 100px;
                                height: 100px;
                                border-radius: 50px;

                            }
                        .txt-small_content{
                            display: inline-block;
                            font-size: 14px;
                            font-weight: bold;
                            position: absolute;
                            top:50%;
                            color:#999;
                            transform: translateY(-50%);
                            margin-left: 12px;
                            &:hover{
                                color:#000;
                            }
                        }

                    }
                }
                .wrap-prev_next_btn{
                    margin-top: 214px;
                    button{
                        padding: 0;
                        margin-right: 18px;
                        
                        
                        font-size: 20px;
                        background:none;
                        border: none;
                        cursor: pointer;

                        &:hover{
                            color: blue;
                        }

                        .bi-chevron-left{
                            margin-right: 20px;
                        }
                        .bi-chevron-right{
                            margin-left: 20px;
                        }
                    }
                }

                &:nth-child(2){
                    display: none;
                    opacity: 0;
                    $isTrigger:false;
                    animation:none;
                }

            }

            .silde-item.slide-on{
                opacity: 1;
            }
        }

    }
}

.section-task_chair{
    
    .wrap-inner_content{
        margin:0 320px;
        
        .wrap-head_text{
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;
            h2{
                font-size: 34px;
            }
            a{
                font-size: 13px;
                color: #002BD2;
                &:hover{
                    text-decoration:underline #002BD2;
                }
            }

        }
        .wrap-cont_img{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: 80px;
            column-gap: 100px;
            height: 1600px;
            figure{
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    width: 560px;
                    position: relative;
                    &:hover{
                        &::before{
                            content: '';
                            
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: rgba(0,0,0,0.1);
                        }
                    }
                }
                img{
                    width: 100%;
                    max-height: 800px;
                }
                strong{
                    font-size: 50px;
                    font-weight: bold;
                    margin:30px 0 10px 0;
                }
                em{
                    font-size: 24px;
                }
            }
        }
    }

}