$headLineColor:#bcbcbc;

body{
    font-family: 'Gothic A1', sans-serif;
}

@mixin flexControl($justify:left, $align:left, $direction:row,$colgap:0, $rowgap:0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction:$direction;
    column-gap: $colgap;
    row-gap: $rowgap;
}

@mixin borderLineDelete($deleteLine,$deleteLine2)
{
    border-#{$deleteLine}:none;
    border-#{$deleteLine2}:none;
}

.nav-first_row{
    margin:0 120px;
    @include flexControl(flex-end);
    ul{
        @include flexControl(flex-end,left,row,30px);
        font-size: 13px;
        li{
            padding:13px 0 14px 0;
            &:nth-child(1){
                margin-left: 50px
            }
            a{
                &:hover{
                    color:blue;
                }
            }
            .bi-files, .bi-bag-fill{
                margin-right: 4px;
            }
        }
    }

    form{
        border: 1px solid #bcbcbc;
        @include borderLineDelete(top,bottom);
        @include flexControl(space-between,center,row);
        font-size: 13px;
        input{
            margin: 12px 29px 12px 21px;
        }

        button{
            margin-right: 13px;
            cursor: pointer;
            border: none;
            background: none;
            font-family: 'Gothic A1', sans-serif;
            font-stretch: condensed;
        }

        &:hover{
            color: blue;
            background-color: #eee ;
            input{
                background-color: #eee ;
            }
            button{
                color: blue;
            }
        }
    }
}

input[type="text"]{
    border:none;
    width: 220px;
}

.nav-second_row{
    border: 1px solid #bcbcbc;
    .nav-wrap{
        margin: 0 120px;
        @include flexControl(space-between,center,row);
        
        .logo{
            font-size: 30px;
            line-height: 30px;
            font-weight: bold;
            padding :15px 0 13px 0;
            vertical-align: top;
        }
        
        .link-menu{
            @include flexControl(space-between,center);
            .menu-item{
                font-weight: bold;
                position: relative;
                padding-bottom: 20px;
                margin-top: 20px;
                &:nth-child(1), &:nth-child(2){
                    margin-right: 60px;
                }
                &:hover{
                    color:blue;
                }

                .link-drop_item, .link-drop_item_thrid,.link-drop_item_second{
                    display: none;
                    position: absolute;
                    transform: translateX(-35px);
                    width: 165px;
                    margin-top: 20px;
                    background-color: #282828;
                    color: #fff;
                    padding:30px;
                    box-sizing: border-box;
                    li{
                        
                        font-size: 14px;
                        font-weight: normal;
                        margin-bottom: 17px;
                        a{
                            color:#fff;
                            white-space:nowrap; 
                            &:hover{
                                color:blue;
                            }
                        }
                    }
                    .special
                    {
                        font-weight: bold;
                        margin-top: 40px;
                        &:hover{
                            cursor: text;
                        }
                    }

                }

                .link-drop_item_second{
                    width: 700px;
                    transform: translateX(-360px);
                    li{
                        ul{
                            display: flex;
                            
                            .tit-main{
                                font-weight: bold;
                                width: 150px;  
                                position: relative;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    right: -20px;
                                    border-left: 1px solid $headLineColor;
                                    height: 54px;
                                    margin:0 10px;
                                } 
                            }
                            li{
                                margin-right: 10px;
                            }
                            .link-item{
                                &:nth-child(2){

                                    margin-left: 30px;
                                }
                            }
                            
                        }
                    }
                }
                .link-drop_item_thrid{
                    width: 200px;
                }

                &:hover{
                    .link-drop_item,.link-drop_item_thrid,.link-drop_item_second{
                        display: block;
                    }
                }

                
            }
        }
    }

}




