body {
  font-family: 'Gothic A1', sans-serif;
}

.nav-first_row {
  margin: 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
}

.nav-first_row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 0;
  font-size: 13px;
}

.nav-first_row ul li {
  padding: 13px 0 14px 0;
}

.nav-first_row ul li:nth-child(1) {
  margin-left: 50px;
}

.nav-first_row ul li a:hover {
  color: blue;
}

.nav-first_row ul li .bi-files, .nav-first_row ul li .bi-bag-fill {
  margin-right: 4px;
}

.nav-first_row form {
  border: 1px solid #bcbcbc;
  border-top: none;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
  font-size: 13px;
}

.nav-first_row form input {
  margin: 12px 29px 12px 21px;
}

.nav-first_row form button {
  margin-right: 13px;
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'Gothic A1', sans-serif;
  font-stretch: condensed;
}

.nav-first_row form:hover {
  color: blue;
  background-color: #eee;
}

.nav-first_row form:hover input {
  background-color: #eee;
}

.nav-first_row form:hover button {
  color: blue;
}

input[type="text"] {
  border: none;
  width: 220px;
}

.nav-second_row {
  border: 1px solid #bcbcbc;
}

.nav-second_row .nav-wrap {
  margin: 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
}

.nav-second_row .nav-wrap .logo {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  padding: 15px 0 13px 0;
  vertical-align: top;
}

.nav-second_row .nav-wrap .link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
}

.nav-second_row .nav-wrap .link-menu .menu-item {
  font-weight: bold;
  position: relative;
  padding-bottom: 20px;
  margin-top: 20px;
  z-index: 1;
}

.nav-second_row .nav-wrap .link-menu .menu-item:nth-child(1), .nav-second_row .nav-wrap .link-menu .menu-item:nth-child(2) {
  margin-right: 60px;
}

.nav-second_row .nav-wrap .link-menu .menu-item:hover {
  color: blue;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_thrid, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second {
  display: none;
  position: absolute;
  -webkit-transform: translateX(-35px);
          transform: translateX(-35px);
  width: 165px;
  margin-top: 20px;
  background-color: #282828;
  color: #fff;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item li, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_thrid li, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second li {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 17px;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item li a, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_thrid li a, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second li a {
  color: #fff;
  white-space: nowrap;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item li a:hover, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_thrid li a:hover, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second li a:hover {
  color: blue;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item .special, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_thrid .special, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second .special {
  font-weight: bold;
  margin-top: 40px;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item .special:hover, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_thrid .special:hover, .nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second .special:hover {
  cursor: text;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second {
  width: 700px;
  -webkit-transform: translateX(-360px);
          transform: translateX(-360px);
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second li ul .tit-main {
  font-weight: bold;
  width: 150px;
  position: relative;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second li ul .tit-main::before {
  content: '';
  position: absolute;
  right: -20px;
  border-left: 1px solid #bcbcbc;
  height: 54px;
  margin: 0 10px;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second li ul li {
  margin-right: 10px;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_second li ul .link-item:nth-child(2) {
  margin-left: 30px;
}

.nav-second_row .nav-wrap .link-menu .menu-item .link-drop_item_thrid {
  width: 200px;
}

.nav-second_row .nav-wrap .link-menu .menu-item:hover .link-drop_item, .nav-second_row .nav-wrap .link-menu .menu-item:hover .link-drop_item_thrid, .nav-second_row .nav-wrap .link-menu .menu-item:hover .link-drop_item_second {
  display: block;
}

.section-silde {
  padding: 40px 120px 120px 120px;
  height: 900px;
  margin-bottom: 121px;
  border-bottom: 1px solid black;
}

.section-silde .article-cont-wrap {
  position: relative;
}

.section-silde .article-cont-wrap ul {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section-silde .article-cont-wrap ul .silde-item {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: none;
          animation: none;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.section-silde .article-cont-wrap ul .silde-item p {
  margin-top: 90px;
  width: 393px;
  font-size: 60px;
  line-height: 80px;
}

.section-silde .article-cont-wrap ul .silde-item strong {
  font-size: 80px;
  line-height: 104px;
  font-weight: bold;
  margin-top: 30px;
  display: block;
}

.section-silde .article-cont-wrap ul .silde-item .img-sibiz_silde {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 900px;
}

.section-silde .article-cont-wrap ul .silde-item figure {
  margin-top: 36px;
  position: relative;
}

.section-silde .article-cont-wrap ul .silde-item figure a::before {
  content: '';
  position: absolute;
  left: 70px;
  width: 28px;
  height: 28px;
  background-color: #032dd3;
  border-radius: 28px;
}

.section-silde .article-cont-wrap ul .silde-item figure a::after {
  content: '';
  position: absolute;
  left: 81px;
  top: 9px;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
}

.section-silde .article-cont-wrap ul .silde-item figure a .img-small_chair {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.section-silde .article-cont-wrap ul .silde-item figure a .txt-small_content {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  color: #999;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 12px;
}

.section-silde .article-cont-wrap ul .silde-item figure a .txt-small_content:hover {
  color: #000;
}

.section-silde .article-cont-wrap ul .silde-item .wrap-prev_next_btn {
  margin-top: 214px;
}

.section-silde .article-cont-wrap ul .silde-item .wrap-prev_next_btn button {
  padding: 0;
  margin-right: 18px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.section-silde .article-cont-wrap ul .silde-item .wrap-prev_next_btn button:hover {
  color: blue;
}

.section-silde .article-cont-wrap ul .silde-item .wrap-prev_next_btn button .bi-chevron-left {
  margin-right: 20px;
}

.section-silde .article-cont-wrap ul .silde-item .wrap-prev_next_btn button .bi-chevron-right {
  margin-left: 20px;
}

.section-silde .article-cont-wrap ul .silde-item.slide-on {
  opacity: 1;
}

.wrap-prev_next_btn.fixed {
  position: absolute;
  top: 737px;
}

.wrap-prev_next_btn.fixed button {
  padding: 0;
  margin-right: 18px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.wrap-prev_next_btn.fixed button:hover {
  color: blue;
}

.wrap-prev_next_btn.fixed button .bi-chevron-left {
  margin-right: 20px;
}

.wrap-prev_next_btn.fixed button .bi-chevron-right {
  margin-left: 20px;
}

.section-task_chair .wrap-inner_content, .section-kids_chair .wrap-inner_content {
  padding: 0 320px 0 320px;
  border-bottom: 1px solid #000;
}

.section-task_chair .wrap-inner_content .wrap-head_text, .section-kids_chair .wrap-inner_content .wrap-head_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.section-task_chair .wrap-inner_content .wrap-head_text h2, .section-kids_chair .wrap-inner_content .wrap-head_text h2 {
  font-size: 34px;
}

.section-task_chair .wrap-inner_content .wrap-head_text a, .section-kids_chair .wrap-inner_content .wrap-head_text a {
  font-size: 13px;
  color: #002BD2;
}

.section-task_chair .wrap-inner_content .wrap-head_text a:hover, .section-kids_chair .wrap-inner_content .wrap-head_text a:hover {
  -webkit-text-decoration: underline #002BD2;
          text-decoration: underline #002BD2;
}

.section-task_chair .wrap-inner_content .wrap-cont_img, .section-kids_chair .wrap-inner_content .wrap-cont_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 80px;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  max-height: 1600px;
  margin-bottom: 150px;
}

.section-task_chair .wrap-inner_content .wrap-cont_img figure, .section-kids_chair .wrap-inner_content .wrap-cont_img figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-task_chair .wrap-inner_content .wrap-cont_img figure a, .section-kids_chair .wrap-inner_content .wrap-cont_img figure a {
  width: 560px;
  position: relative;
}

.section-task_chair .wrap-inner_content .wrap-cont_img figure a:hover::before, .section-kids_chair .wrap-inner_content .wrap-cont_img figure a:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.section-task_chair .wrap-inner_content .wrap-cont_img figure .link-kid, .section-kids_chair .wrap-inner_content .wrap-cont_img figure .link-kid {
  width: 340px;
  height: 500px;
}

.section-task_chair .wrap-inner_content .wrap-cont_img figure img, .section-kids_chair .wrap-inner_content .wrap-cont_img figure img {
  width: 100%;
  max-height: 800px;
}

.section-task_chair .wrap-inner_content .wrap-cont_img figure .img-kids, .section-kids_chair .wrap-inner_content .wrap-cont_img figure .img-kids {
  width: 100%;
}

.section-task_chair .wrap-inner_content .wrap-cont_img figure strong, .section-kids_chair .wrap-inner_content .wrap-cont_img figure strong {
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0 10px 0;
}

.section-task_chair .wrap-inner_content .wrap-cont_img figure em, .section-kids_chair .wrap-inner_content .wrap-cont_img figure em {
  font-size: 24px;
  line-height: 40px;
}

.section-task_chair .wrap-inner_content .wrap-cont_img.kids, .section-kids_chair .wrap-inner_content .wrap-cont_img.kids {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 120px;
  margin-bottom: 150px;
}

.section-task_chair .wrap-inner_content .wrap-cont_img.kids em, .section-kids_chair .wrap-inner_content .wrap-cont_img.kids em {
  font-size: 20px;
}

.section-kids_chair {
  padding-top: 121px;
}
/*# sourceMappingURL=style.css.map */